.wrapCart h2 {
    display: inline-block;

}

footer>h2 {
    margin-right: 10px;
    display: block;
}

footer>button {
    display: block;
}

.wrapCart h3 {
    display: inline-block;
}

.cart {}

.takeMyMoney {
    float: right;
}

.quantity {
    margin: 0px;
    width: 100%;
    font-size: 18px;
}