main {

  background: repeating-linear-gradient(45deg, #3f87a6, #c7dbb7 15%, #f69d3c 20%);
}

.wrapApp {
  background-color: #778f88;
  place-items: center;
}

.winter-solstice-icon {
  height: 4em;
  padding-right: 10px;
  will-change: filter;
  transition: filter 300ms;
  grid-column: 1;
  margin: auto;
}

.winter-solstice-container {
  width: 80%;
  margin: auto;
  background-color: #778f88;
  padding: 5px 20px;
  border-radius: 5px;
}

.logo-name {
  display: inline-block;
  grid-column: 2;
}

.cart-icon {
  grid-column: 3;
  margin: auto;
}

.winter-solstice-icon:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.winter-solstice-icon.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}